<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- =============================================== -->
  <!-- 4-DOF camera arm                                -->
  <!-- =============================================== -->

  <xacro:macro name="rover_arm" params="rover">

    <!-- Body height needed for mounting -->
    <xacro:property
      name="body_height"
      value="${rover['body']['height']}"/>


    <!-- Arm base -->

    <xacro:property
      name="arm_base_radius"
      value="${rover['arm']['base']['radius']}"/>

    <xacro:property
      name="arm_base_height"
      value="${rover['arm']['base']['height']}"/>

    <xacro:property
      name="arm_base_mass"
      value="${rover['arm']['base']['mass']}"/>


    <!-- Link 1 -->

    <xacro:property
      name="arm_link_1_length"
      value="${rover['arm']['link1']['length']}"/>

    <xacro:property
      name="arm_link_1_width"
      value="${rover['arm']['link1']['width']}"/>

    <xacro:property
      name="arm_link_1_height"
      value="${rover['arm']['link1']['height']}"/>

    <xacro:property
      name="arm_link_1_mass"
      value="${rover['arm']['link1']['mass']}"/>


    <!-- Link 2 -->

    <xacro:property
      name="arm_link_2_length"
      value="${rover['arm']['link2']['length']}"/>

    <xacro:property
      name="arm_link_2_width"
      value="${rover['arm']['link2']['width']}"/>

    <xacro:property
      name="arm_link_2_height"
      value="${rover['arm']['link2']['height']}"/>

    <xacro:property
      name="arm_link_2_mass"
      value="${rover['arm']['link2']['mass']}"/>


    <!-- Wrist -->

    <xacro:property
      name="wrist_length"
      value="${rover['arm']['wrist']['length']}"/>

    <xacro:property
      name="wrist_width"
      value="${rover['arm']['wrist']['width']}"/>

    <xacro:property
      name="wrist_height"
      value="${rover['arm']['wrist']['height']}"/>

    <xacro:property
      name="wrist_mass"
      value="${rover['arm']['wrist']['mass']}"/>


    <!-- Camera -->

    <xacro:property
      name="camera_length"
      value="${rover['arm']['camera']['length']}"/>

    <xacro:property
      name="camera_width"
      value="${rover['arm']['camera']['width']}"/>

    <xacro:property
      name="camera_height"
      value="${rover['arm']['camera']['height']}"/>

    <xacro:property
      name="camera_mass"
      value="${rover['arm']['camera']['mass']}"/>





    <!-- ============================================= -->
    <!-- Arm base                                      -->
    <!-- ============================================= -->

    <link name="arm_base">

      <visual>

        <geometry>
          <cylinder
            radius="${arm_base_radius}"
            length="${arm_base_height}"/>
        </geometry>

        <material name="gray"/>

      </visual>


      <collision>

        <geometry>
          <cylinder
            radius="${arm_base_radius}"
            length="${arm_base_height}"/>
        </geometry>

      </collision>


      <xacro:cylinder_inertial
        mass="${arm_base_mass}"
        radius="${arm_base_radius}"
        length="${arm_base_height}"/>

    </link>


    <joint name="base_yaw_joint" type="revolute">

      <parent link="base_link"/>
      <child link="arm_base"/>

      <origin
        xyz="0 0 ${body_height / 2.0 + arm_base_height / 2.0}"
        rpy="0 0 0"/>

      <axis xyz="0 0 1"/>

      <limit
        lower="-3.14"
        upper="3.14"
        effort="20"
        velocity="1.0"/>

      <dynamics
        damping="0.1"
        friction="0.0"/>

    </joint>


    <!-- ============================================= -->
    <!-- Link 1                                        -->
    <!-- ============================================= -->

    <link name="arm_link_1">

      <visual>

        <origin
          xyz="${arm_link_1_length / 2.0} 0 0"
          rpy="0 0 0"/>

        <geometry>
          <box
            size="${arm_link_1_length}
                  ${arm_link_1_width}
                  ${arm_link_1_height}"/>
        </geometry>

        <material name="orange"/>

      </visual>


      <collision>

        <origin
          xyz="${arm_link_1_length / 2.0} 0 0"
          rpy="0 0 0"/>

        <geometry>
          <box
            size="${arm_link_1_length}
                  ${arm_link_1_width}
                  ${arm_link_1_height}"/>
        </geometry>

      </collision>


      <xacro:box_inertial
        mass="${arm_link_1_mass}"
        length="${arm_link_1_length}"
        width="${arm_link_1_width}"
        height="${arm_link_1_height}"
        origin_x="${arm_link_1_length / 2.0}"/>

    </link>


    <joint name="shoulder_joint" type="revolute">

      <parent link="arm_base"/>
      <child link="arm_link_1"/>

      <origin
        xyz="0 0 ${arm_base_height / 2.0}"
        rpy="0 0 0"/>

      <axis xyz="0 -1 0"/>

      <limit
        lower="-1.57"
        upper="1.57"
        effort="20"
        velocity="1.0"/>

      <dynamics
        damping="0.2"
        friction="0.0"/>

    </joint>


    <!-- ============================================= -->
    <!-- Link 2                                        -->
    <!-- ============================================= -->

    <link name="arm_link_2">

      <visual>

        <origin
          xyz="${arm_link_2_length / 2.0} 0 0"
          rpy="0 0 0"/>

        <geometry>
          <box
            size="${arm_link_2_length}
                  ${arm_link_2_width}
                  ${arm_link_2_height}"/>
        </geometry>

        <material name="yellow"/>

      </visual>


      <collision>

        <origin
          xyz="${arm_link_2_length / 2.0} 0 0"
          rpy="0 0 0"/>

        <geometry>
          <box
            size="${arm_link_2_length}
                  ${arm_link_2_width}
                  ${arm_link_2_height}"/>
        </geometry>

      </collision>


      <xacro:box_inertial
        mass="${arm_link_2_mass}"
        length="${arm_link_2_length}"
        width="${arm_link_2_width}"
        height="${arm_link_2_height}"
        origin_x="${arm_link_2_length / 2.0}"/>

    </link>


    <joint name="elbow_joint" type="revolute">

      <parent link="arm_link_1"/>
      <child link="arm_link_2"/>

      <origin
        xyz="${arm_link_1_length} 0 0"
        rpy="0 0 0"/>

      <axis xyz="0 -1 0"/>

      <limit
        lower="-1.57"
        upper="1.57"
        effort="20"
        velocity="1.0"/>

      <dynamics
        damping="0.2"
        friction="0.0"/>

    </joint>


    <!-- ============================================= -->
    <!-- Wrist                                         -->
    <!-- ============================================= -->

    <link name="wrist_link">

      <visual>

        <origin
          xyz="${wrist_length / 2.0} 0 0"
          rpy="0 0 0"/>

        <geometry>
          <box
            size="${wrist_length}
                  ${wrist_width}
                  ${wrist_height}"/>
        </geometry>

        <material name="gray"/>

      </visual>


      <collision>

        <origin
          xyz="${wrist_length / 2.0} 0 0"
          rpy="0 0 0"/>

        <geometry>
          <box
            size="${wrist_length}
                  ${wrist_width}
                  ${wrist_height}"/>
        </geometry>

      </collision>


      <xacro:box_inertial
        mass="${wrist_mass}"
        length="${wrist_length}"
        width="${wrist_width}"
        height="${wrist_height}"
        origin_x="${wrist_length / 2.0}"/>

    </link>


    <joint name="wrist_joint" type="revolute">

      <parent link="arm_link_2"/>
      <child link="wrist_link"/>

      <origin
        xyz="${arm_link_2_length} 0 0"
        rpy="0 0 0"/>

      <axis xyz="0 -1 0"/>

      <limit
        lower="-1.57"
        upper="1.57"
        effort="10"
        velocity="1.5"/>

      <dynamics
        damping="0.15"
        friction="0.0"/>

    </joint>


    <!-- ============================================= -->
    <!-- Camera                                        -->
    <!-- ============================================= -->

    <link name="camera_link">

      <visual>

        <geometry>
          <box
            size="${camera_length}
                  ${camera_width}
                  ${camera_height}"/>
        </geometry>

        <material name="black"/>

      </visual>


      <collision>

        <geometry>
          <box
            size="${camera_length}
                  ${camera_width}
                  ${camera_height}"/>
        </geometry>

      </collision>


      <xacro:box_inertial
        mass="${camera_mass}"
        length="${camera_length}"
        width="${camera_width}"
        height="${camera_height}"/>

    </link>


    <joint name="camera_joint" type="fixed">

      <parent link="wrist_link"/>
      <child link="camera_link"/>

      <origin
        xyz="${wrist_length} 0 0"
        rpy="0 0 0"/>

    </joint>

  </xacro:macro>

</robot>