<?xml version="1.0"?>

<robot
  name="simple_rover"
  xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- =============================================== -->
  <!-- Configuration                                   -->
  <!-- =============================================== -->

  <xacro:arg name="config_file" default=""/>

  <xacro:property
    name="config"
    value="${xacro.load_yaml('$(arg config_file)')}"/>

  <xacro:property
    name="rover"
    value="${config['rover']}"/>


  <!-- =============================================== -->
  <!-- Components                                      -->
  <!-- =============================================== -->

  <xacro:include filename="inertial_macros.xacro"/>
  <xacro:include filename="rover_base.xacro"/>
  <xacro:include filename="rover_arm.xacro"/>
  <xacro:include filename="gazebo_plugins.xacro"/>
  <xacro:include filename="materials.xacro"/>


  <!-- =============================================== -->
  <!-- Robot assembly                                  -->
  <!-- =============================================== -->

  <xacro:rover_base rover="${rover}"/>

  <xacro:rover_arm rover="${rover}"/>

  <xacro:gazebo_plugins rover="${rover}"/>


</robot>